# Environment and secrets
.env

# Python
.venv/
__pycache__/
.pytest_cache/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# IDE
.idea/
.vscode/
*.swp
*.swo

# Streamlit
.streamlit/
